__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*

imports/*
!imports/.gitkeep
reports/*
!reports/.gitkeep
archive/*
!archive/.gitkeep

*.csv
*.xlsx
*.xls
*.db
*.sqlite
*.sqlite3
*desktop.ini
*Thumbs.db
